@page
@model P_Flow_Web.Pages.CreateAdminModel
@{
    // Layout = "_LayoutUser";
    ViewData["title"] = "Créer un compte Admin";
}
@if(Model.SuccessMessage.Length != 0)
{
    <div class="columns is-centered">
        <div class="column is-10-tablet is-6-desktop is-8-widescreen">
            <div class="notification is-primary is-light">
                <button class="delete" aria-label="delete"></button>
                <p>
                    <strong>Succès !</strong>
                </p>
                <p>
                    @Model.SuccessMessage
                </p>
            </div>
        </div>
    </div>
}
@if (Model.WarningMessage.Length != 0)
{
    <div class="columns is-centered">
        <div class="column is-10-tablet is-6-desktop is-8-widescreen">
            <div class="notification is-warning is-light">
                <button class="delete" aria-label="delete"></button>
                <p>
                    <strong>Attention !</strong>
                </p>
                <p>
                    @Model.WarningMessage
                </p>
            </div>
        </div>
    </div>
}
@if (Model.ErrorMessage.Length != 0)
{
    <div class="columns is-centered">
        <div class="column is-10-tablet is-6-desktop is-8-widescreen">
            <div class="notification is-danger is-light">
                <button class="delete" aria-label="delete"></button>
                <p>
                    <strong>Erreur !</strong>
                </p>
                <p>
                    @Model.ErrorMessage
                </p>
            </div>
        </div>
    </div>
}

@if (Model.ConfirmPassword.Length > 0)
{
    <div class="columns is-centered">
        <div class="column is-10-tablet is-6-desktop is-8-widescreen">
            <div class="notification is-danger is-light">
                <button class="delete"></button>
                @Model.ConfirmPassword
            </div>
        </div>
    </div>    
}

<div class="columns is-centered">
    <div class="column is-10-tablet is-6-desktop is-8-widescreen">
        <form class="box" method="post">
            <div class="field has-text-centered">
                <img src="~/img/icons8-user (3).gif" alt="Utilisateur" />
                <p>
                    <h3 class="title">Compte administrateur</h3>
                </p>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="tbPrenom">Prénom</label>
                        <div class="control has-icons-left">
                            <input type="text" class="input" placeholder="Entrez votre prénom" name="tbPrenom" id="tbPrenom" value="@Model.utilisateur.Prenom" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="tbNom">Nom</label>
                        <div class="control has-icons-left">
                            <input type="text" class="input" placeholder="Entrez votre nom" name="tbNom" id="tbNom" value="@Model.utilisateur.Nom" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Sexe</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="sexe" value="M" /> Homme
                            </label>
                            <label class="radio">
                                <input type="radio" name="sexe" value="F" /> Femme
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" for="tbLogin">Login</label>
                <div class="control has-icons-left">
                    <input type="text" class="input" placeholder="Entrez votre login" name="tbLogin" id="tbLogin" value="@Model.utilisateur.Login"/>
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="tbPwd_1">Mot de passe</label>
                        <div class="control has-icons-left">
                            <input type="password" class="input" placeholder="•••••••••••••••••" name="tbPwd" id="tbPwd_1" value="@Model.utilisateur.Motdepasse" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-key"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="tbPwd_2">Confirmez le mot de passe</label>
                        <div class="control has-icons-left">
                            <input type="password" class="input" placeholder="•••••••••••••••••" name="tbConfirm" id="tbPwd_2" />
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-key"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" value="Créer le compte admin" class="button is-primary" />
                </div>
                <div class="control">
                    <input type="reset" value="Reinitialiser" class="button is-outlined is-danger" />
                </div>
            </div>
        </form>
    </div>
</div>