<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P_Flow</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="~/lib/fontawesome/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bulma/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/lib/bulma/bulma/css/bulma.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P_Flow_Web.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/img/OIG4 (1).jpeg" />
    <style>
    body{
    min-height: 100vh;
    }
    
        .navbar-links{
            color:white;
            text-decoration:none;
        }

        .rotate {
            transform: rotate(90deg);
        }

        .menu {
            left: 0;
            /*margin-top:50px;*/
        }

            .menu .menu-list .list {
                position: relative;
                cursor: pointer;
            }

                .menu .menu-list .list a {
                    display: block;
                    text-decoration: none;
                    padding: 5px 30px;
                    line-height: 30px;
                }

                    .menu .menu-list .list a:hover {
                        background: #00D1B2;
                        color: #009292;
                        transition: 0.2s ease;
                    }

                    .menu .menu-list .list a .dropdown {
                        position: absolute;
                        right: 0;
                        margin: 7.5px;
                        transition: 0.2s ease;
                    }

                .menu .menu-list .list .sub-menu {
                    display: none;
                }

                    .menu .menu-list .list .sub-menu a {
                        display: block;
                        text-decoration: none;
                        padding: 5px 30px;
                        line-height: 30px;
                    }

                        .menu .menu-list .list .sub-menu a:hover {
                            background: #00D1B2;
                            color: #009292;
                            transition: 0.2s ease;
                        }

                        .menu .menu-list .list .sub-menu a .dropdown-sub {
                            position: absolute;
                            right: 15px;
                            margin: 7.5px;
                            transition: 0.2s ease;
                        }

                    .menu .menu-list .list .sub-menu .sub-menu-sub {
                        display: none;
                    }
                    
                    
                    .navbar-item a:hover{
                        color: #00D1B2;
                        transition: 0.3s ease;
                    }
    </style>
</head>
<body class="has-background-success-light">
    <header class="">
        <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h3 class="subtitle">
                        <a class="navbar-item">P_Flow</a>
                    </h3>
                </div>
                

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu ">               
                <div class="navbar-start">
                    <a href="/Dash/TableauDeBord" class="navbar-item">
                        <span class="icon">
                            <i class="fa-solid fa-gauge"></i>
                        </span>&nbsp; Tableau de bord
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <span><i class="icon">
                                <i class="fa-solid fa-circle-user"></i>
                            </i>&nbsp; Utilisateur connecté :&nbsp;
                            <strong>@Model.Login</strong>
                        </span> 
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container is-fluid" style="padding-top:115px">
        <div class="columns">
            <div class="column is-4-tablet is-3-desktop is-3-widescreen">
                <div>
                    <nav class="menu is-fixed-top">
                        <p class="menu-label has-text-black">Menu</p>
                        @foreach (var parent in Model.GetAdminParentMenu())
                        {
                            <ul class="menu-list">
                                <li class="list">
                                    <a class="sub-list">
                                        <span class="icon"><i class="@parent.Icon"></i></span>
                                        <strong>@parent.Designation</strong>
                                        <i class="fa-solid fa-angle-right dropdown"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        @foreach (var child in Model.GetAdminChildMenu(parent.Code))
                                        {
                                            <li>
                                                <a href="@child.Url" class="sub-menu-item">
                                                    @* <span class="icon"><i class="@child.Icon"></i></span> *@
                                                    @child.Designation
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        }
                    </nav>
                </div>                
            </div>
            <div class="column">
                <div class="box">
                    <div class="is-centered">
                        @RenderBody()
                    </div>
                </div>  
                    <p class="has-text-right is-fixed-bottom">
                        &COPY; TekSniper | IT Dev - Graphic Designer | @DateTime.Now.Year.ToString()
                    </p>              
            </div>
        </div>      
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesome/fontawesome/js/all.js"></script>
    <script src="~/lib/fontawesome/fontawesome/js/all.min.js"></script>
    @* @await RenderSectionAsync("Scripts", required: false) *@

    <script type="text/javascript">
        // $('.btn').click(function () {
        //     $(this).toggleClass("click");
        //     $('.sidebar').toggleClass("show");
        // });
        $(document).ready(function () {
            //JQ 1
            $('.sub-list').click(function () {
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });

            $('.sub-menu-item').click(function () {
                $(this).next('.sub-menu-sub').slideToggle();
                $(this).find('.dropdown-sub').toggleClass('rotate');
            }
            );

            //JQ 2
            // $('.menu-btn').click(function () {
            //     $('.side-bar').addClass('active');
            // });
            // $('.close-btn').click(function () {
            //     $('.side-bar').removeClass('active');
            // });
        });
    </script>
</body>
</html>